@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff2?9a0e2a') format('woff2'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?9a0e2a') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?9a0e2a') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?9a0e2a##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.fa {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-up-down {
  &:before {
    content: $fa-up-down; 
  }
}
.fa-eraser {
  &:before {
    content: $fa-eraser; 
  }
}
.fa-arrow-trend-down {
  &:before {
    content: $fa-arrow-trend-down; 
  }
}
.fa-arrow-trend-up {
  &:before {
    content: $fa-arrow-trend-up; 
  }
}
.fa-minus {
  &:before {
    content: $fa-minus; 
  }
}
.fa-spinner {
  &:before {
    content: $fa-spinner; 
  }
}
.fa-angle-down {
  &:before {
    content: $fa-angle-down; 
  }
}
.fa-angle-left {
  &:before {
    content: $fa-angle-left; 
  }
}
.fa-angle-right {
  &:before {
    content: $fa-angle-right; 
  }
}
.fa-angle-up {
  &:before {
    content: $fa-angle-up; 
  }
}
.fa-arrow-right-from-bracket {
  &:before {
    content: $fa-arrow-right-from-bracket; 
  }
}
.fa-arrow-rotate-right {
  &:before {
    content: $fa-arrow-rotate-right; 
  }
}
.fa-bars {
  &:before {
    content: $fa-bars; 
  }
}
.fa-briefcase {
  &:before {
    content: $fa-briefcase; 
  }
}
.fa-building {
  &:before {
    content: $fa-building; 
  }
}
.fa-bullhorn {
  &:before {
    content: $fa-bullhorn; 
  }
}
.fa-calendar-days {
  &:before {
    content: $fa-calendar-days; 
  }
}
.fa-caret-down {
  &:before {
    content: $fa-caret-down; 
  }
}
.fa-caret-left {
  &:before {
    content: $fa-caret-left; 
  }
}
.fa-caret-right {
  &:before {
    content: $fa-caret-right; 
  }
}
.fa-caret-up {
  &:before {
    content: $fa-caret-up; 
  }
}
.fa-check {
  &:before {
    content: $fa-check; 
  }
}
.fa-circle-exclamation {
  &:before {
    content: $fa-circle-exclamation; 
  }
}
.fa-circle-info {
  &:before {
    content: $fa-circle-info; 
  }
}
.fa-circle-question {
  &:before {
    content: $fa-circle-question; 
  }
}
.fa-code {
  &:before {
    content: $fa-code; 
  }
}
.fa-download {
  &:before {
    content: $fa-download; 
  }
}
.fa-exclamation {
  &:before {
    content: $fa-exclamation; 
  }
}
.fa-file-lines {
  &:before {
    content: $fa-file-lines; 
  }
}
.fa-filter {
  &:before {
    content: $fa-filter; 
  }
}
.fa-gauge-high {
  &:before {
    content: $fa-gauge-high; 
  }
}
.fa-gavel {
  &:before {
    content: $fa-gavel; 
  }
}
.fa-gear {
  &:before {
    content: $fa-gear; 
  }
}
.fa-info {
  &:before {
    content: $fa-info; 
  }
}
.fa-link-slash {
  &:before {
    content: $fa-link-slash; 
  }
}
.fa-link {
  &:before {
    content: $fa-link; 
  }
}
.fa-magnifying-glass {
  &:before {
    content: $fa-magnifying-glass; 
  }
}
.fa-pause {
  &:before {
    content: $fa-pause; 
  }
}
.fa-pen-to-square {
  &:before {
    content: $fa-pen-to-square; 
  }
}
.fa-pen {
  &:before {
    content: $fa-pen; 
  }
}
.fa-play {
  &:before {
    content: $fa-play; 
  }
}
.fa-plus {
  &:before {
    content: $fa-plus; 
  }
}
.fa-question {
  &:before {
    content: $fa-question; 
  }
}
.fa-sort-down {
  &:before {
    content: $fa-sort-down; 
  }
}
.fa-sort-up {
  &:before {
    content: $fa-sort-up; 
  }
}
.fa-sort {
  &:before {
    content: $fa-sort; 
  }
}
.fa-store {
  &:before {
    content: $fa-store; 
  }
}
.fa-toggle-off {
  &:before {
    content: $fa-toggle-off; 
  }
}
.fa-toggle-on {
  &:before {
    content: $fa-toggle-on; 
  }
}
.fa-trash {
  &:before {
    content: $fa-trash; 
  }
}
.fa-triangle-exclamation {
  &:before {
    content: $fa-triangle-exclamation; 
  }
}
.fa-upload {
  &:before {
    content: $fa-upload; 
  }
}
.fa-user-plus {
  &:before {
    content: $fa-user-plus; 
  }
}
.fa-user-xmark {
  &:before {
    content: $fa-user-xmark; 
  }
}
.fa-user {
  &:before {
    content: $fa-user; 
  }
}
.fa-xmark {
  &:before {
    content: $fa-xmark; 
  }
}
.fa-floppy-disk {
  &:before {
    content: $fa-floppy-disk; 
  }
}
.fa-folder-open {
  &:before {
    content: $fa-folder-open; 
  }
}
.fa-users {
  &:before {
    content: $fa-users; 
  }
}
.fa-earth {
  &:before {
    content: $fa-earth; 
  }
}
.fa-star-full {
  &:before {
    content: $fa-star-full; 
  }
}
.fa-paste {
  &:before {
    content: $fa-paste; 
  }
}
.fa-volume-mute2 {
  &:before {
    content: $fa-volume-mute2; 
  }
}
.fa-wrench {
  &:before {
    content: $fa-wrench; 
  }
}
.fa-eye {
  &:before {
    content: $fa-eye; 
  }
}
.fa-eye-blocked {
  &:before {
    content: $fa-eye-blocked; 
  }
}
.fa-enlarge {
  &:before {
    content: $fa-enlarge; 
  }
}
.fa-lock {
  &:before {
    content: $fa-lock; 
  }
}
.fa-unlocked {
  &:before {
    content: $fa-unlocked; 
  }
}
.fa-envelope {
  &:before {
    content: $fa-envelope; 
  }
}

