@font-face {
  font-family: 'fa';
  src:
    url('fonts/fa.woff2?9a0e2a') format('woff2'),
    url('fonts/fa.ttf?9a0e2a') format('truetype'),
    url('fonts/fa.woff?9a0e2a') format('woff'),
    url('fonts/fa.svg?9a0e2a#fa') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.fa {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fa' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-up-down:before {
  content: "\e93a";
}
.fa-eraser:before {
  content: "\e93b";
}
.fa-arrow-trend-down:before {
  content: "\e936";
}
.fa-arrow-trend-up:before {
  content: "\e937";
}
.fa-minus:before {
  content: "\e938";
}
.fa-spinner:before {
  content: "\e933";
}
.fa-angle-down:before {
  content: "\e900";
}
.fa-angle-left:before {
  content: "\e901";
}
.fa-angle-right:before {
  content: "\e902";
}
.fa-angle-up:before {
  content: "\e903";
}
.fa-arrow-right-from-bracket:before {
  content: "\e904";
}
.fa-arrow-rotate-right:before {
  content: "\e905";
}
.fa-bars:before {
  content: "\e906";
}
.fa-briefcase:before {
  content: "\e907";
}
.fa-building:before {
  content: "\e908";
}
.fa-bullhorn:before {
  content: "\e909";
}
.fa-calendar-days:before {
  content: "\e90a";
}
.fa-caret-down:before {
  content: "\e90b";
}
.fa-caret-left:before {
  content: "\e90c";
}
.fa-caret-right:before {
  content: "\e90d";
}
.fa-caret-up:before {
  content: "\e90e";
}
.fa-check:before {
  content: "\e90f";
}
.fa-circle-exclamation:before {
  content: "\e910";
}
.fa-circle-info:before {
  content: "\e911";
}
.fa-circle-question:before {
  content: "\e912";
}
.fa-code:before {
  content: "\e913";
}
.fa-download:before {
  content: "\e914";
}
.fa-exclamation:before {
  content: "\e915";
}
.fa-file-lines:before {
  content: "\e916";
}
.fa-filter:before {
  content: "\e917";
}
.fa-gauge-high:before {
  content: "\e918";
}
.fa-gavel:before {
  content: "\e919";
}
.fa-gear:before {
  content: "\e91a";
}
.fa-info:before {
  content: "\e91b";
}
.fa-link-slash:before {
  content: "\e91c";
}
.fa-link:before {
  content: "\e91d";
}
.fa-magnifying-glass:before {
  content: "\e931";
}
.fa-pause:before {
  content: "\e91e";
}
.fa-pen-to-square:before {
  content: "\e91f";
}
.fa-pen:before {
  content: "\e920";
}
.fa-play:before {
  content: "\e921";
}
.fa-plus:before {
  content: "\e922";
}
.fa-question:before {
  content: "\e923";
}
.fa-sort-down:before {
  content: "\e924";
}
.fa-sort-up:before {
  content: "\e925";
}
.fa-sort:before {
  content: "\e926";
}
.fa-store:before {
  content: "\e927";
}
.fa-toggle-off:before {
  content: "\e928";
}
.fa-toggle-on:before {
  content: "\e929";
}
.fa-trash:before {
  content: "\e92a";
}
.fa-triangle-exclamation:before {
  content: "\e92b";
}
.fa-upload:before {
  content: "\e92c";
}
.fa-user-plus:before {
  content: "\e92d";
}
.fa-user-xmark:before {
  content: "\e92e";
}
.fa-user:before {
  content: "\e92f";
}
.fa-xmark:before {
  content: "\e930";
}
.fa-floppy-disk:before {
  content: "\e934";
}
.fa-folder-open:before {
  content: "\e939";
}
.fa-users:before {
  content: "\e972";
}
.fa-earth:before {
  content: "\e9ca";
}
.fa-star-full:before {
  content: "\e9d9";
}
.fa-paste:before {
  content: "\e932";
}
.fa-volume-mute2:before {
  content: "\ea2a";
}
.fa-wrench:before {
  content: "\e991";
}
.fa-eye:before {
  content: "\e9ce";
}
.fa-eye-blocked:before {
  content: "\e9d1";
}
.fa-enlarge:before {
  content: "\e989";
}
.fa-lock:before {
  content: "\e98f";
}
.fa-unlocked:before {
  content: "\e990";
}
.fa-envelope:before {
  content: "\e935";
}
