$icomoon-font-family: "fa" !default;
$icomoon-font-path: "fonts" !default;

$fa-up-down: unquote('"\\e93a"');
$fa-eraser: unquote('"\\e93b"');
$fa-arrow-trend-down: unquote('"\\e936"');
$fa-arrow-trend-up: unquote('"\\e937"');
$fa-minus: unquote('"\\e938"');
$fa-spinner: unquote('"\\e933"');
$fa-angle-down: unquote('"\\e900"');
$fa-angle-left: unquote('"\\e901"');
$fa-angle-right: unquote('"\\e902"');
$fa-angle-up: unquote('"\\e903"');
$fa-arrow-right-from-bracket: unquote('"\\e904"');
$fa-arrow-rotate-right: unquote('"\\e905"');
$fa-bars: unquote('"\\e906"');
$fa-briefcase: unquote('"\\e907"');
$fa-building: unquote('"\\e908"');
$fa-bullhorn: unquote('"\\e909"');
$fa-calendar-days: unquote('"\\e90a"');
$fa-caret-down: unquote('"\\e90b"');
$fa-caret-left: unquote('"\\e90c"');
$fa-caret-right: unquote('"\\e90d"');
$fa-caret-up: unquote('"\\e90e"');
$fa-check: unquote('"\\e90f"');
$fa-circle-exclamation: unquote('"\\e910"');
$fa-circle-info: unquote('"\\e911"');
$fa-circle-question: unquote('"\\e912"');
$fa-code: unquote('"\\e913"');
$fa-download: unquote('"\\e914"');
$fa-exclamation: unquote('"\\e915"');
$fa-file-lines: unquote('"\\e916"');
$fa-filter: unquote('"\\e917"');
$fa-gauge-high: unquote('"\\e918"');
$fa-gavel: unquote('"\\e919"');
$fa-gear: unquote('"\\e91a"');
$fa-info: unquote('"\\e91b"');
$fa-link-slash: unquote('"\\e91c"');
$fa-link: unquote('"\\e91d"');
$fa-magnifying-glass: unquote('"\\e931"');
$fa-pause: unquote('"\\e91e"');
$fa-pen-to-square: unquote('"\\e91f"');
$fa-pen: unquote('"\\e920"');
$fa-play: unquote('"\\e921"');
$fa-plus: unquote('"\\e922"');
$fa-question: unquote('"\\e923"');
$fa-sort-down: unquote('"\\e924"');
$fa-sort-up: unquote('"\\e925"');
$fa-sort: unquote('"\\e926"');
$fa-store: unquote('"\\e927"');
$fa-toggle-off: unquote('"\\e928"');
$fa-toggle-on: unquote('"\\e929"');
$fa-trash: unquote('"\\e92a"');
$fa-triangle-exclamation: unquote('"\\e92b"');
$fa-upload: unquote('"\\e92c"');
$fa-user-plus: unquote('"\\e92d"');
$fa-user-xmark: unquote('"\\e92e"');
$fa-user: unquote('"\\e92f"');
$fa-xmark: unquote('"\\e930"');
$fa-floppy-disk: unquote('"\\e934"');
$fa-folder-open: unquote('"\\e939"');
$fa-users: unquote('"\\e972"');
$fa-earth: unquote('"\\e9ca"');
$fa-star-full: unquote('"\\e9d9"');
$fa-paste: unquote('"\\e932"');
$fa-volume-mute2: unquote('"\\ea2a"');
$fa-wrench: unquote('"\\e991"');
$fa-eye: unquote('"\\e9ce"');
$fa-eye-blocked: unquote('"\\e9d1"');
$fa-enlarge: unquote('"\\e989"');
$fa-lock: unquote('"\\e98f"');
$fa-unlocked: unquote('"\\e990"');
$fa-envelope: unquote('"\\e935"');

